# Django
TEST=false
DEBUG=true
DEBUG_TOOLBAR=false
SECRET_KEY="56nslljg=pc0#u18fgaf33p)lp2l!t^=rvlx4jgm2=n6m6k0y7"
ALLOWED_HOSTS=localhost,127.0.0.1,.labcomp.com
COOKIE_DOMAIN=localhost,127.0.0.1,.labcomp.com
MEDIA_URL=/media/
STATIC_URL=/static/
SSL=false

# DB
DATABASE_URL=mysql://labcomp:labcomp@mysql:3306/labcomp

# Email
ADMIN_NAME=
ADMIN_MAIL=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Celery
CACHE=redis:6379
BROKER_URL=redis://redis:6379

# LDAP
LDAP_AUTH_URL=ldap://ldap:389
